.service{
    grid-column: 2/-2;
}

.services-section{
    display: grid;
    grid-template-rows: repeat(2,250px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    grid-row-gap: 70px;
    padding-bottom: 70px;
}

.service-image{
    width: 100%;
    height: 250px;
    border-radius: 0 20px 0 20px;
}

.service-text{
    text-align: center;
    font-size: 19px;
}

.text{
    text-align: center;
    font-size: 12px;
    margin-top: 0.5rem;
}